<!-- Adform Tracking Code BEGIN -->
<!-- Point: "MasterTag - Prodotti (Product Page)" -->

<script type="text/javascript">
var _adftrack = {
    pm: {{ adform_pm }},
    id: {{ adform_id }},
    order: {
        products: [{
            productname: '{{ product.get_name }}',
            productid: '{{ product.get_id }}',
            categoryname: '{{ product.parent.name }}',
	    step: '1'
        }]
    }
};
(function(){var s=document.createElement('script');s.type='text/javascript';s.async=true;s.src='https://track.adform.net/serving/scripts/trackpoint/async/';var x = document.getElementsByTagName('script')[0];x.parentNode.insertBefore(s, x);})();
</script>
<noscript>
    <p style="margin:0;padding:0;border:0;">
        <img src="https://track.adform.net/Serving/TrackPoint/?pm=221910&amp;lid=4988874" width="1" height="1" alt="" />
    </p>
</noscript>
<!-- Adform Tracking Code END -->
