<!-- Adform Tracking Code BEGIN -->
<!-- Point: "Thank You Page (Thank-You Page)" -->
<script type="text/javascript" src="https://track.adform.net/serving/scripts/trackpoint/"></script>
<script type="text/javascript" data-cookieconsent="marketing">
adf.ClickTrack(this,221910,'cotonella|mastertag',{});
var _adftrack = {
    pm: {{ adform_pm }},
    id: {{ adform_id }},
    {{ order }}
    order: {
        sales: '{{ sales }}',
        basketsize: '{{ basketsize }}',
        orderid: '{{ order_id }}',
        sv1: '{{ user_email }}',
        sv2: '{{ newcustomer_value }}',
        itms: {{ products|safe }}
    }
};
(function(){var s=document.createElement('script');s.type='text/javascript';s.async=true;s.src='https://track.adform.net/serving/scripts/trackpoint/async/';var x = document.getElementsByTagName('script')[0];x.parentNode.insertBefore(s, x);})();
</script>
<noscript>
    <p style="margin:0;padding:0;border:0;">
        <img src="https://track.adform.net/Serving/TrackPoint/?pm=221910&ADFPageName=cotonella%7Cthankyoupage&ADFdivider=|" width="1" height="1" alt="" />
    </p>
</noscript>
<!-- Adform Tracking Code END -->
